body {
    background-color: #93C8E5;
    color: #FFFFFF;
    font-family: 'Nunito Sans', sans-serif; 
}

a {
    color: #EEAF10;
}

h1 {
    color: #E7AF53;
    font-weight: lighter;
    font-size: 40px
}

h2 {
    color: #F1E299;
    font-weight: lighter;
    font-size: 30px
}

h3 {
    color: #F1E299;
    font-weight: lighter;
}

h4 {
    color: #F1E299;
    font-weight: lighter;
}

header {

    background-color: #000E3A;
    width: 1000px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

main {
    background-color: #1163A7;
    width: 1000px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
}

#introimages img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.centredimage {
  text-align: center;
}

#profileimages img {
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
